@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

input[type="radio"] {
  -webkit-tap-highlight-color: transparent;
}
label {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-track:hover {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html {
  background: #202123;
}

@media (max-width: 720px) {
  pre {
    width: calc(100vw - 110px);
  }
}

pre:has(div.codeblock) {
  padding: 0;
}


div.grid.text-blue-gray-400 {
  color:white
}

label.pointer-events-none {
  display: none !important;
}

li.transition-all{
  text-align: left;
  color: rgb(66 66 66 / var(--tw-text-opacity));
}

span.absolute {
  font-weight: bold;
}

/* .prose :where(ol > li):not(:where([class~="not-prose"] *))::marker {
  font-weight: 400;
  color: white;
} */

nav.min-w-\[240px\]{
  min-width: 0;
}


.paypal-button.paypal-button-shape-rect{
  border-radius: 0.5rem !important;
}

